.container {
    margin-top: 5rem;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title{
    color: rgb(240, 68, 16);
}
.parraf{

    color: rgb(154, 226, 47);
}